body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

h1 {
    margin-bottom: 20px;
    align-content: center;
}

form {
    margin-bottom: 20px;
    align-content: center;
}

input[type="text"] {
    padding: 10px;
    margin-right: 5px;
    align-content: center;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
